body {
	background-color: black;
	padding: 2.3vw;
	color: skyblue;
	font-family: arial;
}

html {
	background-color: blue;
	border: 4.7vw solid #6060ff;
	border-right-color: navy;
	border-left-color: navy;
}

h1.title {
	font-size: 4.6vw;
}

.art-project {
	border: 0.6vw solid;
	padding: 1.8vw;
	border-radius: 1.55vw;
	font-size: 3.1vw;
	font-weight: bold;
	background-color: red;
	border-color: firebrick;
	color: firebrick;
}
	
.art-project a {
	text-decoration: none;
	color: firebrick;
}

.game {
	border: .8vw solid;
	padding: 1.55vw;
	font-size: 3.1vw;
	font-weight: bold;
	background-color: blue;
	border-color: skyblue;
	color: skyblue;
}

.game a {
	text-decoration: none;
	color: skyblue;
}

.video {
	border: 0.55vw solid;
	padding: 1.55vw;
	border-radius: 3.1vw;
	font-size: 3.1vw;
	font-weight: bold;
	background-color: green;
	border-color: lightgreen;
	color: lightgreen;
}

.video a {
	text-decoration: none;
	color: lightgreen;
}

h1 {
	font-size: 2.2vw
}