#navigation {
	list-style-type: none;
	margin: 0;
	border: .1vw solid skyblue;
	background-color: blue;
	padding: 1.55vw;
	border: .25vw solid blue;
	margin-bottom: 6.2vw;
	position: fixed;
	top: 0;
	border: .1vw solid skyblue;
	width: 100%;
	right: 0;
	left: 0;
}

#navigation li {
	display: inline;
	padding: 1.55vw;
}

#navigation li a {
	font-size: 2.2vw;
	text-decoration: none;
	font-family: arial;
	font-weight: bold;
	color: skyblue;
}

#navigation li select {
	font-size: 2.2vw;
	background-color: blue;
	background: none;
	border: none;
	color: skyblue;
	font-weight: bold;
	-webkit-appearance: none;
}

#navigation li select option{
	background-color: blue;
	border: 0px solid red;
	-webkit: none;
	font-weight: bold;
	user-select: none;

}
