@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html {
	font-family: 'playfair display';
	margin: 72px;
	padding-bottom: 112px;
	font-size: 22px;
}

h1 {
	text-align: center;
}

a:hover {
	color: red;
}

a {
	text-decoration: none;
	color: blue;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   padding:2px;
}

body {
	padding: 30px;
	padding-right: 20px;
}