#Login {
    border: 2px solid blue;
    background-color: blue;
   }

   html {
     background-color: rgb(173, 255, 252);
     font-family: 'Source Sans Pro', sans-serif;
   }

   #error {
     border: 2px  solid black;
     background-color: black;
     color: white;
   }

   #Title {
    text-align: center;
    color: rgb(43, 181, 36);
    font-size: 40px;
  }

  .instruct {
    font-size: 20px;
    margin-left: 3px;
    margin-right: 3px;
    word-spacing: 6px;
  }